.container{
  composes: container from '../../index.css';
}

.content {
    composes: content from '../../index.css';
}

.header{
  margin-top: 4rem ;
  margin-bottom: 3.2rem;
}

.header p{
  margin-top: 0.5rem;
}



@media screen and (max-width:640px){
  .container{
    background: url('../../Images/img.svg');
    background-size: cover;
  }
  .content{
    position: fixed;
    background: #F6F6F6;
    padding: 0 2.5rem ;
    padding-bottom: 3rem;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    bottom: 0;
  }
}
